
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
/*======================================================= */
        /*Navigation and img slider start*/
/*======================================================= */
.owl-stage{
    right:50px;
}

.gtco-container {
  position: relative;
  margin: 0 auto; 
 
}




/*======================================================= */
        /*Navigation and img slider end*/
/*======================================================= */



@media screen and (max-width: 992px) {
  
}



@media screen and (max-width: 768px) {
  
  
    
}



@media screen and (max-width: 480px) {
         
 
}





