.owl-stage{
    right:45px;

}
.owl-carousel-fullwidth-crd-pro .crd-pro{ 
    width:160px;
    height:200px;
    border-radius: 7px;
    margin-left: 10px;
}

.owl-carousel-fullwidth-crd-pro .crd-pro .boxs {
    text-align:center;
    
    box-sizing:border-box;
    width:100%;
}
.owl-carousel-fullwidth-crd-pro .crd-pro .boxs .imgs {
    width:100px;
    height:100px;
    padding-top: 20px;
    color:#8939e2;
    margin:0 auto;
    overflow:hidden;
}
.owl-carousel-fullwidth-crd-pro .crd-pro .boxs .imgs i {
    font-size: 40px;
}

.owl-carousel-fullwidth-crd-pro .crd-pro .boxs p {
    color:#262626;
} 

@media(min-width:1200px){
    .owl-stage{
    right:45px;

}
    .owl-carousel-fullwidth-crd-pro .crd-pro{ 
    width:195px;
    height:220px;
    border-radius: 7px;
    margin-left: 15px;
}

.owl-carousel-fullwidth-crd-pro .crd-pro .boxs {
    text-align:center;
    
    box-sizing:border-box;
    width:100%;
}
.owl-carousel-fullwidth-crd-pro .crd-pro .boxs .imgs {
    width:100px;
    height:100px;
    padding-top: 20px;
    color:#8939e2;
    margin:0 auto;
    overflow:hidden;
}
.owl-carousel-fullwidth-crd-pro .crd-pro .boxs .imgs i {
    font-size: 40px;
}

.owl-carousel-fullwidth-crd-pro .crd-pro .boxs p {
    color:#262626;
} 

}
@media(min-width:992px)and (max-width:1199px){
    
}
@media(min-width:768px)and (max-width:991px) {
    
}
@media(min-width:576px)and (max-width:767px){
    
}

